<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border border-light rounded p-5 shadow-sm bg-light-custom">
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-danger" (click)="logout()">Sair</button>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="mb-0">Gerenciamento de Pessoas</h3>
      <button type="button" class="btn btn-sm btn-primary" (click)="ExibirformularioCadastro()">
        <i class="fas fa-plus"></i> Nova Pessoa
      </button>
    </div>
    <hr/>

    <div class="mb-3">
      <label for="filtroNome" class="form-label">Filtrar por Nome</label>
      <input type="text" id="filtroNome" class="form-control form-control-sm" [(ngModel)]="filtroNome" (ngModelChange)="filtrarPessoas()" placeholder="Digite o nome"/>
    </div>

    <table class="table table-striped table-hover table-sm" *ngIf="pessoasFiltradas && pessoasFiltradas.length > 0">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
          <th>Profissão</th>
          <th>Escolaridade</th>
          <th>CPF</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoasFiltradas | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPessoas }">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sobrenome}}</td>
          <td>{{pessoa.idade}}</td>
          <td>{{pessoa.profissao}}</td>
          <td>{{pessoa.escolaridade}}</td>
          <td>{{pessoa.cpf}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-warning btn-spacing" (click)="ExibirFormularioAtualizacao(pessoa.pessoaId)" title="Atualizar">
              <i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="ExibirConfirmacaoExclusao(pessoa.pessoaId , pessoa.nome , conteudoModal)" title="Excluir">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <button type="button" class="btn btn-sm btn-success" (click)="exportPDF()">Exportar para PDF</button>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row justify-content-center">
    <div class="col-md-6 border-light rounded p-5 shadow bg-light-custom">
      <h4>{{ tituloFormulario }}</h4>
      <hr/>
      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group mb-3">
          <label>Nome</label>
          <input type="text" class="form-control form-control-sm" formControlName="nome"/>
        </div>
        <div class="form-group mb-3">
          <label>Sobrenome</label>
          <input type="text" class="form-control form-control-sm" formControlName="sobrenome"/>
        </div>
        <div class="form-group mb-3">
          <label>Idade</label>
          <input type="number" class="form-control form-control-sm" formControlName="idade"/>
        </div>
        <div class="form-group mb-3">
          <label>Profissão</label>
          <input type="text" class="form-control form-control-sm" formControlName="profissao"/>
        </div>
        <div class="form-group mb-3">
          <label>Escolaridade</label>
          <input type="text" class="form-control form-control-sm" formControlName="escolaridade"/>
        </div>
        <div class="form-group mb-3">
          <label>CPF</label>
          <input type="text" class="form-control form-control-sm" formControlName="cpf" mask="000.000.000-00"/>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-sm btn-outline-success me-2">Salvar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="Voltar()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmação de Exclusão</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    Prosseguir com a exclusão do(a) {{nomePessoa}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
    <button type="button" class="btn btn-outline-danger" (click)="pessoaId ? ExcluirPessoa(pessoaId) : null">Sim</button>
  </div>
</ng-template>
